Repository nikolay-e/lingua-quiz: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-package-json, eslint, jscpd, knip, typescript-check, svelte-check, type-coverage, npm-audit, docker-compose-check, docker-build-all, stylelint, helm-lint-changed

sort-package-json:
  name: Sort package.json files
  entry: npx sort-package-json "package.json" "packages/*/package.json"
  language: system
  pass_filenames: false

eslint:
  name: Lint JS/TS/Svelte with ESLint
  entry: bash -c 'export NODE_OPTIONS="--max-old-space-size=8192" && npm run lint:fix'
  language: system
  pass_filenames: false

jscpd:
  name: Copy-paste detection (jscpd)
  entry: npx jscpd --min-lines 6 --min-tokens 50 --threshold 3 packages/
  language: system
  pass_filenames: false

knip:
  name: Dead code detection (knip)
  entry: npx knip --no-progress --no-config-hints
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript type checking
  entry: npm run typecheck
  language: system
  pass_filenames: false

svelte-check:
  name: Svelte type checking
  entry: npm run check
  language: system
  pass_filenames: false

type-coverage:
  name: Type coverage check (>=85%)
  entry: npx type-coverage --at-least 85 --ignore-catch --ignore-files "**/*.test.ts" "**/*.spec.ts" "**/generated/**"
  language: system
  pass_filenames: false

npm-audit:
  name: npm audit (security check)
  entry: npm audit --audit-level=high --production
  language: system
  pass_filenames: false

docker-compose-check:
  name: Docker Compose config validation
  entry: bash -c 'for f in docker-compose*.yml docker-compose*.yaml; do [ -f "$f" ] && docker compose -f "$f" config -q || true; done'
  language: system
  pass_filenames: false

docker-build-all:
  name: Build Docker images (backend, frontend, tests)
  ...

stylelint:
  name: Lint CSS/SCSS in files and Svelte components
  entry: npx stylelint --fix --config .stylelintrc.json
  language: system
  pass_filenames: true

helm-lint-changed:
  name: Helm lint changed charts
  entry: bash -c
  args:
  ...

Fix critical quiz bugs: persist recentHistory, treat reveal as incorrect
  .pre-commit-config.yaml
  apps/backend/src/api/v2/progress.py
  apps/backend/src/generated/schemas.py
  apps/frontend/src/api/api.ts
  apps/frontend/src/features/quiz/components/AnswerInput.tsx
  apps/frontend/src/features/quiz/components/FeedbackDisplay.tsx
  apps/frontend/src/features/quiz/hooks/useQuizSession.ts
  apps/frontend/src/features/quiz/services/quiz-service.ts
  apps/frontend/src/features/quiz/stores/quiz.store.ts
  apps/frontend/src/pages/QuizPage.tsx
  apps/frontend/src/shared/i18n/locales/de.json
  apps/frontend/src/shared/i18n/locales/en.json
  apps/frontend/src/shared/i18n/locales/es.json
  apps/frontend/src/shared/i18n/locales/ru.json
  infra/nginx/nginx.conf
  packages/api-client/src/generated/models/ProgressUpdateRequest.ts
  packages/api-client/src/generated/models/UserProgressResponse.ts
  packages/core/src/constants.ts
  packages/core/src/index.ts
  packages/domain/src/generated/domain.ts
  packages/domain/src/validators.ts
  schema/lingua-quiz-schema.json
  tests/e2e/test_accessibility_e2e.py
  tests/e2e/test_quiz_flow_e2e.py
  tests/e2e/test_tts_feature_e2e.py
Due: eslint, jscpd, knip, typescript-check, type-coverage, docker-build-all

fix: harden CSP, fix CDN caching, token refresh, type safety, CI gates
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  apps/backend/src/main.py
  apps/frontend/public/sitemap.xml
  apps/frontend/src/api/config.ts
  apps/frontend/src/features/auth/stores/auth.store.ts
  apps/frontend/src/pages/RootLayout.tsx
  apps/frontend/vite.config.ts
  infra/nginx/nginx.conf
  packages/domain/src/validators.ts
Due: eslint, jscpd, knip, typescript-check, type-coverage, docker-build-all

fix: update robots.txt sitemap URL to lingua-quiz.org
  apps/frontend/public/robots.txt
Due: none

fix: update npm deps, fix broken E2E selectors and test data
  package-lock.json
  tests/e2e/test_backend_integration.py
  tests/e2e/test_quiz_flow_e2e.py
Due: jscpd, npm-audit, docker-build-all

fix: resolve npm vulns, remove lighthouse, refactor E2E to page objects
  apps/frontend/lighthouserc.json
  apps/frontend/package.json
  knip.json
  package-lock.json
  package.json
  tests/e2e/conftest.py
  tests/e2e/pages/quiz_page.py
  tests/e2e/test_quiz_flow_e2e.py
Due: sort-package-json, jscpd, npm-audit, docker-build-all

fix: Tailwind v4 spacing/container collision and i18n interpolation
  apps/frontend/src/index.css
  apps/frontend/src/shared/i18n/locales/de.json
  apps/frontend/src/shared/i18n/locales/en.json
  apps/frontend/src/shared/i18n/locales/es.json
  apps/frontend/src/shared/i18n/locales/ru.json
Due: stylelint

fix: deduplicate FeedbackState type, clean unused imports
  apps/frontend/src/features/quiz/hooks/useQuizFeedback.ts
  apps/frontend/src/features/quiz/hooks/useQuizSession.ts
Due: eslint, jscpd, knip, typescript-check, type-coverage

fix: admin CRUD, nginx headers, useCallback cleanup, ruff T20, CI gate
  .github/workflows/ci.yml
  Dockerfile
  apps/backend/src/api/v2/admin.py
  apps/backend/src/main.py
  apps/frontend/src/features/quiz/hooks/useQuizFeedback.ts
  apps/frontend/src/features/quiz/hooks/useQuizInput.ts
  apps/frontend/src/features/quiz/hooks/useQuizLevelAnimation.ts
  apps/frontend/src/features/quiz/hooks/useQuizSession.ts
  docker-compose.yml
  infra/nginx/nginx.conf
  infra/nginx/nginx.local.conf
  infra/nginx/snippets/security-headers.conf
  pyproject.toml
Due: eslint, jscpd, knip, typescript-check, type-coverage, docker-compose-check, docker-build-all

fix: add @types/node to frontend devDependencies
  apps/frontend/package.json
  package-lock.json
Due: npm-audit, docker-build-all

fix: resolve SonarQube issues across backend and frontend
  apps/backend/src/api/v2/admin.py
  apps/backend/src/api/v2/auth.py
  apps/backend/src/api/v2/config.py
  apps/backend/src/api/v2/progress.py
  apps/backend/src/api/v2/speech.py
  apps/backend/src/api/v2/tts.py
  apps/backend/src/api/v2/version.py
  apps/backend/src/api/v2/vocabulary.py
  apps/backend/src/core/csrf.py
  apps/backend/src/core/database.py
  apps/backend/src/core/dependencies.py
  apps/backend/src/core/security.py
  apps/backend/src/main.py
  apps/frontend/src/api/admin.ts
  apps/frontend/src/features/auth/stores/auth.store.ts
  apps/frontend/src/features/quiz/hooks/useQuizSession.ts
  apps/frontend/src/features/quiz/services/quiz-service.ts
  apps/frontend/src/features/quiz/stores/quiz.store.ts
  apps/frontend/src/features/speak/hooks/useAudioRecorder.ts
  packages/core/src/LevelEngine.ts
  packages/core/src/QueueManager.ts
  packages/core/src/StateManager.ts
  packages/core/src/answer-comparison.ts
  packages/core/tsconfig.json
  tests/e2e/test_backend_integration.py
Due: eslint, jscpd, knip, typescript-check, type-coverage, docker-build-all

fix: preserve level selection when switching languages
  apps/frontend/src/features/quiz/hooks/useLanguageLevelSelection.ts
Due: eslint, jscpd, knip, typescript-check, type-coverage

fix: resolve CI lint and mypy failures
  apps/backend/src/core/request_logging.py
  apps/backend/src/main.py
  pyproject.toml
Due: jscpd

fix: add progress save validation and request error logging
  apps/backend/src/main.py
  apps/frontend/src/features/quiz/services/quiz-service.ts
Due: eslint, jscpd, knip, typescript-check, type-coverage

fix: sanitize keepaliveSave path, strip input from validation logs
  apps/backend/src/main.py
  apps/frontend/src/features/quiz/services/quiz-service.ts
Due: eslint, jscpd, knip, typescript-check, type-coverage

fix: resolve mypy type errors in validation error handler
  apps/backend/src/main.py
Due: jscpd

refactor: simplify CI pipeline, remove deep-analysis job
  .github/workflows/ci.yml
  .github/workflows/dependabot-automerge.yml
Due: none

fix: resolve mypy type errors in rate limit and validation handlers
  apps/backend/src/main.py
Due: jscpd

refactor: merge all lint checks into pre-commit hooks
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

refactor: remove ci-success aggregator job
  .github/workflows/ci.yml
Due: none

ci: move E2E tests to nightly workflow, keep lint+build in CI
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
Due: none

ci: keep integration tests in CI, move only Playwright to nightly
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
Due: none

ci: Switch Docker builds to registry cache with per-image scope
  .github/workflows/ci.yml
Due: none

fix: pull frontend image in CI test job (required by docker-compose)
  .github/workflows/ci.yml
Due: none

fix: update validation tests to match actual API error format
  tests/e2e/test_backend_integration.py
Due: jscpd

feat: fill missing translations and examples across all vocabularies
  data/vocabularies/english-a0.json
  data/vocabularies/english-a2.json
  data/vocabularies/english-b1.json
  data/vocabularies/english-b2.json
  data/vocabularies/german-a2.json
  data/vocabularies/german-b1.json
  data/vocabularies/german-b2.json
  data/vocabularies/spanish-a1.json
  data/vocabularies/spanish-a2.json
  data/vocabularies/spanish-b1.json
  data/vocabularies/spanish-b2.json
  data/vocabularies/spanish-c1.json
  data/vocabularies/spanish-d.json
Due: none

fix: match SUPPORTED_SPEAK_LANGS keys to parseListName
  apps/frontend/src/features/speak/types/index.ts
Due: eslint, jscpd, knip, typescript-check, type-coverage

feat: add phoneme-level pronunciation visualization
  apps/frontend/src/features/speak/components/WordPhonemeDisplay.tsx
  apps/frontend/src/pages/SpeakPage.tsx
Due: eslint, jscpd, knip, typescript-check, type-coverage

fix: clean up Spanish A0/A1/A2 vocabularies and fix pre-commit hooks
  .pre-commit-config.yaml
  apps/backend/requirements.txt
  data/vocabularies/spanish-a0.json
  data/vocabularies/spanish-a1.json
  data/vocabularies/spanish-a2.json
  package-lock.json
Due: npm-audit, docker-build-all

fix: use sys.base_prefix for dynamic DYLD_LIBRARY_PATH in pip-audit
  .pre-commit-config.yaml
Due: none

feat: use vocabulary examples as pronunciation practice phrases
  apps/frontend/src/features/speak/index.ts
  apps/frontend/src/features/speak/lib/phrases.ts
  apps/frontend/src/features/speak/stores/speak.store.ts
  apps/frontend/src/pages/HomePage.tsx
  apps/frontend/src/pages/SpeakPage.tsx
Due: eslint, jscpd, knip, typescript-check, type-coverage

feat: integrate pronunciation as manual mode in quiz page
  apps/frontend/src/app/App.tsx
  apps/frontend/src/features/quiz/components/PronunciationMode.tsx
  apps/frontend/src/features/quiz/components/QuestionDisplay.tsx
  apps/frontend/src/features/quiz/components/index.ts
  apps/frontend/src/features/quiz/hooks/useLanguageLevelSelection.ts
  apps/frontend/src/features/quiz/hooks/useUiPreferences.ts
  apps/frontend/src/pages/HomePage.tsx
  apps/frontend/src/pages/QuizPage.tsx
  apps/frontend/src/pages/SpeakPage.tsx
  apps/frontend/src/pages/index.ts
  apps/frontend/src/shared/components/AppNav.tsx
  apps/frontend/src/shared/utils/constants.ts
Due: eslint, jscpd, knip, typescript-check, type-coverage

fix: lowercase sourceLanguage for speak language mapping
  apps/frontend/src/pages/QuizPage.tsx
Due: eslint, jscpd, knip, typescript-check, type-coverage

feat: require pronunciation for full mastery (LEVEL_5)
  apps/backend/alembic/versions/c3a1f8b2d456_add_pronunciation_passed.py
  apps/backend/src/api/v2/progress.py
  apps/backend/src/generated/schemas.py
  apps/frontend/src/api/api.ts
  apps/frontend/src/api/validators.ts
  apps/frontend/src/features/quiz/components/PronunciationMode.tsx
  apps/frontend/src/features/quiz/components/QuestionDisplay.tsx
  apps/frontend/src/features/quiz/config/levelConfig.ts
  apps/frontend/src/features/quiz/hooks/index.ts
  apps/frontend/src/features/quiz/hooks/useLevelWordLists.ts
  apps/frontend/src/features/quiz/hooks/usePronunciationQueue.ts
  apps/frontend/src/features/quiz/services/quiz-service.ts
  apps/frontend/src/features/quiz/stores/quiz.store.ts
  apps/frontend/src/pages/QuizPage.tsx
  packages/api-client/src/generated/models/ProgressUpdateRequest.ts
  packages/api-client/src/generated/models/UserProgressResponse.ts
  packages/core/src/StateManager.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  schema/lingua-quiz-schema.json
Due: eslint, jscpd, knip, typescript-check, type-coverage, docker-build-all

fix: make pronunciation independent from translation levels
  apps/frontend/src/features/quiz/components/QuestionDisplay.tsx
  apps/frontend/src/features/quiz/config/levelConfig.ts
  apps/frontend/src/features/quiz/hooks/useLevelWordLists.ts
  packages/core/src/StateManager.ts
Due: eslint, jscpd, knip, typescript-check, type-coverage, docker-build-all

feat: show pronunciation progress in sidebar
  apps/frontend/src/features/quiz/components/QuestionDisplay.tsx
  apps/frontend/src/features/quiz/config/levelConfig.ts
  apps/frontend/src/features/quiz/hooks/useLevelWordLists.ts
  packages/core/src/StateManager.ts
  packages/core/src/index.ts
Due: eslint, jscpd, knip, typescript-check, type-coverage, docker-build-all

fix: auto-expand phoneme details for problematic words
  apps/frontend/src/features/speak/components/WordPhonemeDisplay.tsx
Due: eslint, jscpd, knip, typescript-check, type-coverage

review: clean up German A2 vocabulary, move advanced words to B1/B2
  data/vocabularies/german-a2.json
  data/vocabularies/german-b1.json
  data/vocabularies/german-b2.json
Due: none

Review A0/A1/A2 German vocabulary: fix cognates, capitalization, translations
  data/vocabularies/german-a0.json
  data/vocabularies/german-a1.json
  data/vocabularies/german-a2.json
  data/vocabularies/german-b1.json
  data/vocabularies/german-b2.json
Due: none

Path conditions:
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json)$
  eslint: any of: \.(js|jsx|ts|tsx|svelte)$
  jscpd: any of: \.(js|jsx|ts|tsx|svelte|py)$
  knip: any of: \.(js|jsx|ts|tsx|svelte)$
  typescript-check: any of: \.(ts|tsx|svelte)$
  svelte-check: any of: \.(svelte)$
  type-coverage: any of: \.(ts|tsx)$, but not: /generated/
  npm-audit: any of: ^package(-lock)?\.json$
  docker-compose-check: any of: ^docker-compose.*\.(yml|yaml)$
  docker-build-all: any of: ^(Dockerfile|docker-compose.*\.(yml|yaml)|packages/(backend|frontend|core|domain|tests)/.*|lingua-quiz-schema\.json|nginx\.conf|package(-lock)?\.json)$
  stylelint: any of: \.(css|scss|svelte)$
  helm-lint-changed: any of: ^helm/
