Repository nikolay-e/lingua-quiz: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-package-json, eslint, jscpd, knip, typescript-check, svelte-check, type-coverage, npm-audit, docker-compose-check, docker-build-all, stylelint, helm-lint-changed

Path conditions:
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json)$
  eslint: any of: \.(js|jsx|ts|tsx|svelte)$
  jscpd: any of: \.(js|jsx|ts|tsx|svelte|py)$
  knip: any of: \.(js|jsx|ts|tsx|svelte)$
  typescript-check: any of: \.(ts|tsx|svelte)$
  svelte-check: any of: \.(svelte)$
  type-coverage: any of: \.(ts|tsx)$, but not: /generated/
  npm-audit: any of: ^package(-lock)?\.json$
  docker-compose-check: any of: ^docker-compose.*\.(yml|yaml)$
  docker-build-all: any of: ^(Dockerfile|docker-compose.*\.(yml|yaml)|packages/(backend|frontend|core|domain|tests)/.*|lingua-quiz-schema\.json|nginx\.conf|package(-lock)?\.json)$
  stylelint: any of: \.(css|scss|svelte)$
  helm-lint-changed: any of: ^helm/

refactor: improve excludeId check in replenishFocusPool
  CLAUDE.md
Due: none

feat: inject APP_VERSION at Docker build time for backend
  Dockerfile
  package-lock.json
  packages/backend/src/core/config.py
  packages/backend/src/main.py
Due: jscpd, npm-audit, docker-build-all

refactor(frontend): use native HTML5 elements and add PWA features
  knip.json
  package-lock.json
  packages/frontend/package.json
  packages/frontend/src/app.css
  packages/frontend/src/components/ConfirmDialog.svelte
  packages/frontend/src/components/quiz/FeedbackDisplay.svelte
  packages/frontend/src/components/quiz/LearningProgress.svelte
  packages/frontend/src/components/quiz/QuestionDisplay.svelte
  packages/frontend/src/lib/actions/focusTrap.ts
  packages/frontend/src/lib/pwa/index.ts
  packages/frontend/src/lib/pwa/share.ts
  packages/frontend/src/lib/pwa/wakeLock.ts
  packages/frontend/src/routes/+page.svelte
Due: sort-package-json, eslint, jscpd, knip, typescript-check, svelte-check, type-coverage, npm-audit, docker-build-all, stylelint

fix(tests): update progress bar test for native element
  packages/tests/tests/test_accessibility_e2e.py
Due: jscpd, docker-build-all

fix(frontend): swap input with feedback instead of stacking
  packages/frontend/src/routes/+page.svelte
Due: eslint, jscpd, knip, typescript-check, svelte-check, docker-build-all, stylelint

fix(frontend): consistent sizing for input and feedback components
  packages/frontend/src/components/quiz/AnswerInput.svelte
  packages/frontend/src/components/quiz/FeedbackDisplay.svelte
Due: eslint, jscpd, knip, typescript-check, svelte-check, docker-build-all, stylelint

refactor(tools): add FrequencyService, processors, property-based tests
  packages/frontend/src/components/AuthLayout.svelte
  packages/tools/.gitignore
  packages/tools/tests/integration/test_property_based.py
  packages/tools/tests/integration/test_stanza_lemmatizer.py
  packages/tools/vocab_tools/core/frequency_service.py
  packages/tools/vocab_tools/core/lemmatization_service.py
  packages/tools/vocab_tools/core/lemmatizer.py
  packages/tools/vocab_tools/core/logging.py
  packages/tools/vocab_tools/data/subtitle_frequencies
  packages/tools/vocab_tools/processors/__init__.py
  packages/tools/vocab_tools/processors/base.py
  packages/tools/vocab_tools/processors/factory.py
  packages/tools/vocab_tools/processors/spanish.py
Due: eslint, jscpd, knip, typescript-check, svelte-check, docker-build-all, stylelint

fix(tts): accept full language names in TTS request validation
  CLAUDE.md
  lingua-quiz-schema.json
Due: docker-build-all

fix(csp): allow blob URLs for TTS audio playback
  nginx.conf
Due: docker-build-all

fix(mobile): remove bottom nav, disable zoom, fix layout shift
  packages/frontend/index.html
  packages/frontend/src/app.css
  packages/frontend/src/app.html
  packages/frontend/src/components/quiz/AnswerInput.svelte
  packages/frontend/src/components/quiz/BottomNav.svelte
  packages/frontend/src/components/quiz/FeedbackDisplay.svelte
  packages/frontend/src/routes/+page.svelte
Due: eslint, jscpd, knip, typescript-check, svelte-check, docker-build-all, stylelint

fix(ui): unify border styles to prevent layout shift
  packages/frontend/src/components/quiz/AnswerInput.svelte
  packages/frontend/src/components/quiz/FeedbackDisplay.svelte
Due: eslint, jscpd, knip, typescript-check, svelte-check, docker-build-all, stylelint

feat(logging): add comprehensive error logging
  packages/backend/src/api/v2/auth.py
  packages/backend/src/core/config.py
  packages/backend/src/main.py
  packages/backend/start.sh
  packages/frontend/src/components/ErrorBoundary.svelte
  packages/frontend/src/lib/pwa/share.ts
  packages/frontend/src/lib/pwa/wakeLock.ts
  packages/frontend/src/lib/services/QuizService.ts
  packages/frontend/src/lib/stores/uiPreferencesStore.ts
  packages/frontend/src/lib/utils/safeStorage.ts
  packages/frontend/src/stores/quizStore.ts
Due: eslint, jscpd, knip, typescript-check, svelte-check, type-coverage, docker-build-all, stylelint

test: remove bottom nav tests (component was deleted)
  packages/tests/tests/test_mobile_responsive_e2e.py
Due: jscpd, docker-build-all

feat(logging): add comprehensive observability
  packages/backend/src/api/v2/admin.py
  packages/backend/src/api/v2/progress.py
  packages/backend/src/core/config.py
  packages/backend/src/core/database.py
  packages/backend/src/core/logging.py
  packages/backend/src/core/security.py
  packages/backend/src/main.py
  packages/backend/src/tts_service.py
  packages/frontend/src/lib/utils/logger.ts
Due: eslint, jscpd, knip, typescript-check, type-coverage, docker-build-all

fix: add missing request_logging module
  packages/backend/src/core/request_logging.py
Due: jscpd, docker-build-all

fix(ci): remove obsolete generate-all step
  .github/workflows/ci.yml
Due: none

fix(ci): remove obsolete generate-all step
  .github/workflows/ci.yml
  .gitlint
  packages/frontend/src/components/quiz/FeedbackDisplay.svelte
  packages/frontend/src/routes/+page.svelte
  packages/tools/vocab_tools/analysis/transliteration_detector.py
  packages/tools/vocab_tools/core/transliteration_detector.py
  packages/tools/vocab_tools/core/transliteration_mappings.py
Due: eslint, jscpd, knip, typescript-check, svelte-check, docker-build-all, stylelint

refactor(quiz): instant transition after submit, feedback below input
  packages/frontend/src/routes/+page.svelte
Due: eslint, jscpd, knip, typescript-check, svelte-check, docker-build-all, stylelint

fix(quiz): remove duplicate AnswerInput component
  packages/frontend/src/routes/+page.svelte
Due: eslint, jscpd, knip, typescript-check, svelte-check, docker-build-all, stylelint

fix(FeedCard): add gap between children elements
  packages/frontend/src/components/FeedCard.svelte
Due: eslint, jscpd, knip, typescript-check, svelte-check, docker-build-all, stylelint

fix(quiz): improve input autofocus with async tick
  packages/frontend/src/components/quiz/AnswerInput.svelte
  packages/frontend/src/routes/+page.svelte
Due: eslint, jscpd, knip, typescript-check, svelte-check, docker-build-all, stylelint

fix(auth): remove duplicate EnvironmentInfo from AuthLayout
  packages/frontend/src/components/AuthLayout.svelte
  packages/tools/CLAUDE.md
  packages/tools/vocab_tools/cli/app.py
  packages/tools/vocab_tools/cli/auto_config.py
  packages/tools/vocab_tools/cli/commands/_utils.py
  packages/tools/vocab_tools/cli/commands/export.py
  packages/tools/vocab_tools/cli/commands/generate.py
  packages/tools/vocab_tools/cli/commands/import_cmd.py
  packages/tools/vocab_tools/cli/commands/sync.py
  packages/tools/vocab_tools/cli/commands/validate.py
  packages/tools/vocab_tools/cli/interactive_mode.py
  packages/tools/vocab_tools/core/word_validator.py
Due: eslint, jscpd, knip, typescript-check, svelte-check, docker-build-all, stylelint

fix(frontend): align typography with design tokens
  packages/frontend/src/app.css
  packages/frontend/src/app.html
  packages/frontend/src/components/ConfirmDialog.svelte
  packages/frontend/src/components/ErrorBoundary.svelte
  packages/frontend/src/components/quiz/QuestionDisplay.svelte
  packages/frontend/src/routes/register/+page.svelte
Due: eslint, jscpd, knip, typescript-check, svelte-check, docker-build-all, stylelint

fix(frontend): align answer buttons horizontally 1:1
  packages/frontend/src/components/quiz/AnswerInput.svelte
  packages/tools/config.yaml
Due: eslint, jscpd, knip, typescript-check, svelte-check, docker-build-all, stylelint

fix(frontend): smart auto-focus behavior for mobile
  packages/frontend/src/lib/utils/device.ts
  packages/frontend/src/routes/+page.svelte
Due: eslint, jscpd, knip, typescript-check, svelte-check, type-coverage, docker-build-all, stylelint

fix(frontend): ensure TTS plays current question text
  packages/frontend/src/components/quiz/TTSButton.svelte
  packages/frontend/src/routes/+page.svelte
Due: eslint, jscpd, knip, typescript-check, svelte-check, docker-build-all, stylelint

refactor(frontend): merge usage examples into answer card
  packages/frontend/src/components/quiz/UsageExamples.svelte
  packages/frontend/src/routes/+page.svelte
Due: eslint, jscpd, knip, typescript-check, svelte-check, docker-build-all, stylelint

fix(frontend): match login page title style with main page
  packages/frontend/src/components/AuthLayout.svelte
Due: eslint, jscpd, knip, typescript-check, svelte-check, docker-build-all, stylelint

vocab tools improved
  .gitignore
  .pre-commit-config.yaml
  packages/tools/config.yaml
  packages/tools/data/reference/cefr/A1_SD1_Wortliste_02.pdf
  packages/tools/data/reference/cefr/A1_word_list.csv
  packages/tools/data/reference/cefr/A2 (pages 8-32).pdf
  packages/tools/data/reference/cefr/B1 (page 16-104 filtered from A2 words).pdf
  packages/tools/data/reference/cefr/Intro (from B1 pages 1-15).pdf
  packages/tools/vocab_tools/config/config_loader.py
  packages/tools/vocab_tools/config/models.py
  packages/tools/vocab_tools/core/processing_stages.py
  packages/tools/vocab_tools/core/vocabulary_processor.py
  packages/tools/vocab_tools/exporters/vocabulary_exporter.py
Due: jscpd

feat(frontend): replace dropdown with cascading language/level selectors
  .pre-commit-config.yaml
  packages/frontend/src/components/quiz/LanguageLevelSelector.svelte
  packages/frontend/src/components/quiz/QuizHeader.svelte
  packages/frontend/src/components/quiz/QuizWelcome.svelte
  packages/frontend/src/lib/pwa/share.ts
  packages/tools/config.yaml
Due: eslint, jscpd, knip, typescript-check, svelte-check, type-coverage, docker-build-all, stylelint

fix(frontend): fix Svelte 5 derived reactivity in language selector
  packages/frontend/src/components/quiz/LanguageLevelSelector.svelte
Due: eslint, jscpd, knip, typescript-check, svelte-check, docker-build-all, stylelint

fix(frontend): support space-separated list name format
  packages/frontend/src/components/quiz/LanguageLevelSelector.svelte
Due: eslint, jscpd, knip, typescript-check, svelte-check, docker-build-all, stylelint

fix(frontend): swap language selector order (speak first, learn second)
  packages/frontend/src/components/quiz/LanguageLevelSelector.svelte
Due: eslint, jscpd, knip, typescript-check, svelte-check, docker-build-all, stylelint

feat(frontend): add Settings page with password change and logout
  packages/backend/src/api/v2/auth.py
  packages/backend/src/generated/schemas.py
  packages/frontend/src/api.ts
  packages/frontend/src/components/quiz/UserActions.svelte
  packages/frontend/src/routes/+layout.svelte
  packages/frontend/src/routes/+page.svelte
  packages/frontend/src/routes/settings/+page.svelte
Due: eslint, jscpd, knip, typescript-check, svelte-check, type-coverage, docker-build-all, stylelint

feat(frontend): add i18n with EN/RU/ES/DE language support
  .gitleaks.toml
  .pre-commit-config.yaml
  .secrets.baseline
  package-lock.json
  packages/frontend/package.json
  packages/frontend/src/components/quiz/AnswerInput.svelte
  packages/frontend/src/components/quiz/FeedbackDisplay.svelte
  packages/frontend/src/components/quiz/LanguageLevelSelector.svelte
  packages/frontend/src/components/quiz/LearningProgress.svelte
  packages/frontend/src/components/quiz/QuestionDisplay.svelte
  packages/frontend/src/components/quiz/QuizHeader.svelte
  packages/frontend/src/components/quiz/QuizWelcome.svelte
  packages/frontend/src/components/quiz/TTSButton.svelte
  packages/frontend/src/components/quiz/UserActions.svelte
  packages/frontend/src/lib/i18n/index.ts
  packages/frontend/src/lib/i18n/locales/de.json
  packages/frontend/src/lib/i18n/locales/en.json
  packages/frontend/src/lib/i18n/locales/es.json
  packages/frontend/src/lib/i18n/locales/ru.json
  packages/frontend/src/routes/+layout.svelte
  packages/frontend/src/routes/login/+page.svelte
  packages/frontend/src/routes/register/+page.svelte
  packages/frontend/src/routes/settings/+page.svelte
Due: sort-package-json, eslint, jscpd, knip, typescript-check, svelte-check, type-coverage, npm-audit, docker-build-all, stylelint

feat(frontend): add theme mode selector with light/dark/system options
  packages/frontend/src/lib/constants.ts
  packages/frontend/src/lib/i18n/locales/de.json
  packages/frontend/src/lib/i18n/locales/en.json
  packages/frontend/src/lib/i18n/locales/es.json
  packages/frontend/src/lib/i18n/locales/ru.json
  packages/frontend/src/routes/settings/+page.svelte
  packages/frontend/src/stores/themeStore.ts
Due: eslint, jscpd, knip, typescript-check, svelte-check, type-coverage, docker-build-all, stylelint

feat: add Renovate for automated dependency updates
  renovate.json
Due: none

fix(frontend): initialize i18n in layout load to prevent race condition
  packages/frontend/src/lib/i18n/index.ts
  packages/frontend/src/routes/+layout.svelte
  packages/frontend/src/routes/+layout.ts
Due: eslint, jscpd, knip, typescript-check, svelte-check, type-coverage, docker-build-all, stylelint
