Repository nikolay-e/lingua-quiz: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-package-json, eslint, jscpd, knip, typescript-check, svelte-check, type-coverage, npm-audit, docker-compose-check, docker-build-all, stylelint, helm-lint-changed

Path conditions:
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json)$
  eslint: any of: \.(js|jsx|ts|tsx|svelte)$
  jscpd: any of: \.(js|jsx|ts|tsx|svelte|py)$
  knip: any of: \.(js|jsx|ts|tsx|svelte)$
  typescript-check: any of: \.(ts|tsx|svelte)$
  svelte-check: any of: \.(svelte)$
  type-coverage: any of: \.(ts|tsx)$, but not: /generated/
  npm-audit: any of: ^package(-lock)?\.json$
  docker-compose-check: any of: ^docker-compose.*\.(yml|yaml)$
  docker-build-all: any of: ^(Dockerfile|docker-compose.*\.(yml|yaml)|packages/(backend|frontend|core|domain|tests)/.*|lingua-quiz-schema\.json|nginx\.conf|package(-lock)?\.json)$
  stylelint: any of: \.(css|scss|svelte)$
  helm-lint-changed: any of: ^helm/

Fix event listener memory leak and extract shared parseListName
  packages/frontend/src/features/quiz/components/LanguageLevelSelector.tsx
  packages/frontend/src/features/quiz/utils/index.ts
  packages/frontend/src/features/quiz/utils/parseListName.ts
  packages/frontend/src/pages/HomePage.tsx
  packages/frontend/src/pages/QuizPage.tsx
Due: eslint, jscpd, knip, typescript-check, type-coverage, docker-build-all

Standardize page layout with PageContainer and consistent styling
  apps/frontend/index.html
  apps/frontend/package.json
  apps/frontend/src/app/App.tsx
  apps/frontend/src/app/infra/ErrorBoundary.tsx
  apps/frontend/src/features/quiz/components/FeedbackDisplay.tsx
  apps/frontend/src/features/quiz/components/LanguageLevelSelector.tsx
  apps/frontend/src/features/quiz/components/LearningProgress.tsx
  apps/frontend/src/features/quiz/components/QuestionDisplay.tsx
  apps/frontend/src/features/quiz/components/QuizHeader.tsx
  apps/frontend/src/features/quiz/components/QuizSkeleton.tsx
  apps/frontend/src/features/quiz/components/QuizWelcome.tsx
  apps/frontend/src/features/quiz/components/UsageExamples.tsx
  apps/frontend/src/features/quiz/components/UserActions.tsx
  apps/frontend/src/features/speak/components/AudioRecorder.tsx
  apps/frontend/src/features/speak/components/ScoreCard.tsx
  apps/frontend/src/features/speak/components/WaveformDisplay.tsx
  apps/frontend/src/index.css
  apps/frontend/src/main.tsx
  apps/frontend/src/pages/AdminPage.tsx
  apps/frontend/src/pages/HomePage.tsx
  apps/frontend/src/pages/LoginPage.tsx
  apps/frontend/src/pages/QuizPage.tsx
  apps/frontend/src/pages/RegisterPage.tsx
  apps/frontend/src/pages/RootLayout.tsx
  apps/frontend/src/pages/SettingsPage.tsx
  apps/frontend/src/pages/SpeakPage.tsx
  apps/frontend/src/shared/components/ConfirmDialog.tsx
  apps/frontend/src/shared/components/ErrorDisplay.tsx
  apps/frontend/src/shared/components/PageContainer.tsx
  apps/frontend/src/shared/components/PasswordInput.tsx
  apps/frontend/src/shared/components/Toast.tsx
  apps/frontend/src/shared/components/index.ts
  apps/frontend/src/shared/stores/toast.store.ts
  apps/frontend/src/shared/ui/Button.tsx
  apps/frontend/src/shared/ui/Card.tsx
  apps/frontend/src/shared/ui/Input.tsx
  apps/frontend/src/shared/ui/Select.tsx
  apps/frontend/vite.config.ts
Due: eslint, jscpd, knip, typescript-check, type-coverage, stylelint

Fix Tailwind v4 max-w-* using spacing instead of container sizes
  apps/frontend/src/index.css
  apps/frontend/src/shared/components/PageContainer.tsx
Due: eslint, jscpd, knip, typescript-check, type-coverage, stylelint

Fix UI flickering and restore branding on auth/home pages
  apps/backend/requirements.txt
  apps/backend/src/core/config.py
  apps/backend/src/tts_service.py
  apps/frontend/src/api/api.ts
  apps/frontend/src/api/config.ts
  apps/frontend/src/app/App.tsx
  apps/frontend/src/features/quiz/components/FeedbackDisplay.tsx
  apps/frontend/src/features/quiz/components/LearningProgress.tsx
  apps/frontend/src/features/quiz/components/QuestionDisplay.tsx
  apps/frontend/src/features/quiz/hooks/useUiPreferences.ts
  apps/frontend/src/features/quiz/utils/parseListName.ts
  apps/frontend/src/features/settings/stores/theme.store.ts
  apps/frontend/src/features/speak/components/AudioRecorder.tsx
  apps/frontend/src/features/speak/components/ScoreCard.tsx
  apps/frontend/src/features/speak/components/WaveformDisplay.tsx
  apps/frontend/src/features/speak/hooks/useAudioRecorder.ts
  apps/frontend/src/index.css
  apps/frontend/src/pages/AdminPage.tsx
  apps/frontend/src/pages/HomePage.tsx
  apps/frontend/src/pages/LoginPage.tsx
  apps/frontend/src/pages/QuizPage.tsx
  apps/frontend/src/pages/RegisterPage.tsx
  apps/frontend/src/pages/SettingsPage.tsx
  apps/frontend/src/pages/SpeakPage.tsx
  apps/frontend/src/shared/components/PageContainer.tsx
  apps/frontend/src/shared/components/Toast.tsx
  apps/frontend/src/shared/stores/toast.store.ts
Due: eslint, jscpd, knip, typescript-check, type-coverage, stylelint

Fix bundle bloat, dead code, and add wake lock to SpeakPage
  apps/frontend/src/features/quiz/stores/quiz.store.ts
  apps/frontend/src/pages/SpeakPage.tsx
  packages/domain/src/index.ts
Due: eslint, jscpd, knip, typescript-check, type-coverage, docker-build-all

Remove unused react-query and fix AudioContext leak
  apps/frontend/package.json
  apps/frontend/src/features/speak/services/azure-speech.ts
  package-lock.json
Due: eslint, jscpd, knip, typescript-check, type-coverage, npm-audit, docker-build-all

Add practice phrases for all supported languages
  apps/frontend/src/features/speak/lib/phrases.ts
  apps/frontend/src/pages/SpeakPage.tsx
Due: eslint, jscpd, knip, typescript-check, type-coverage

Fix space bar recording - wrap handlers in useCallback
  apps/frontend/src/features/speak/components/AudioRecorder.tsx
Due: eslint, jscpd, knip, typescript-check, type-coverage

feat: add Azure Speech API integration and migrate to Strategy 1
  CLAUDE.md
  apps/backend/src/api/v2/config.py
  apps/backend/src/core/config.py
  apps/backend/src/main.py
  apps/frontend/src/api/api.ts
  apps/frontend/src/features/speak/lib/phrases.ts
  apps/frontend/src/features/speak/stores/speak.store.ts
  apps/frontend/src/pages/SpeakPage.tsx
Due: eslint, jscpd, knip, typescript-check, type-coverage

Fix TTS: unify Azure Speech config, allow microphone, fix i18n
  .pre-commit-config.yaml
  apps/backend/src/core/config.py
  apps/backend/src/tts_service.py
  apps/frontend/src/shared/i18n/locales/de.json
  apps/frontend/src/shared/i18n/locales/en.json
  apps/frontend/src/shared/i18n/locales/es.json
  apps/frontend/src/shared/i18n/locales/ru.json
  infra/nginx/nginx.conf
Due: jscpd

Fix CI: build workspaces before pre-commit typecheck
  .github/workflows/ci.yml
Due: none

Fix knip: ignore workspace package api-client
  knip.json
Due: none

Make pre-commit non-blocking in CI
  .github/workflows/ci.yml
Due: none

Fix CI: domain test path, playwright version, deploy-staging
  .github/actions/create-deployment/action.yml
  .github/workflows/ci.yml
  packages/domain/tests/validators.test.ts
  tests/e2e/requirements.txt
Due: eslint, jscpd, knip, typescript-check, type-coverage, docker-build-all

Remove staging deployment workflow and health check
  .github/workflows/ci.yml
  .github/workflows/staging-health-check.yml
Due: none

Improve German A1 vocabulary: fix examples, capitalization, cleanup
  .pre-commit-config.yaml
  data/vocabularies/german-a1.json
Due: none

Add ultimate goal to CLAUDE.md
  CLAUDE.md
Due: none

Fix sync_vocabulary DB connection for passwords with special chars
  apps/backend/sync_vocabulary.py
Due: jscpd

Improve frontend UX: accessibility fixes, haptics, toast, admin modals
  apps/frontend/src/features/quiz/components/FeedbackDisplay.tsx
  apps/frontend/src/features/quiz/components/UsageExamples.tsx
  apps/frontend/src/index.css
  apps/frontend/src/pages/AdminPage.tsx
  apps/frontend/src/pages/HomePage.tsx
  apps/frontend/src/pages/QuizPage.tsx
  apps/frontend/src/pages/SettingsPage.tsx
  apps/frontend/src/shared/components/PasswordInput.tsx
  apps/frontend/src/shared/components/Toast.tsx
Due: eslint, jscpd, knip, typescript-check, type-coverage, stylelint

Fix review findings: extract BaseDialog, a11y, toast timer, motion
  apps/frontend/src/features/quiz/components/FeedbackDisplay.tsx
  apps/frontend/src/index.css
  apps/frontend/src/pages/AdminPage.tsx
  apps/frontend/src/pages/QuizPage.tsx
  apps/frontend/src/shared/components/BaseDialog.tsx
  apps/frontend/src/shared/components/ConfirmDialog.tsx
  apps/frontend/src/shared/components/PasswordInput.tsx
  apps/frontend/src/shared/components/Toast.tsx
  apps/frontend/src/shared/components/index.ts
  apps/frontend/src/shared/ui/Select.tsx
Due: eslint, jscpd, knip, typescript-check, type-coverage, stylelint

Add cognitive science-based learning algorithm improvements
  apps/frontend/src/features/quiz/services/quiz-service.ts
  packages/core/src/constants.ts
  packages/core/src/index.ts
Due: eslint, jscpd, knip, typescript-check, type-coverage, docker-build-all

Add shift-commit-time post-commit hook
  .pre-commit-config.yaml
Due: none

Fix rendering flickering: stabilize callbacks, refs, transitions
  apps/frontend/src/features/quiz/components/FeedbackDisplay.tsx
  apps/frontend/src/features/quiz/components/LevelChangeAnimation.tsx
  apps/frontend/src/pages/AdminPage.tsx
  apps/frontend/src/pages/QuizPage.tsx
  apps/frontend/src/pages/SettingsPage.tsx
  apps/frontend/src/shared/components/BaseDialog.tsx
  apps/frontend/src/shared/components/Toast.tsx
Due: eslint, jscpd, knip, typescript-check, type-coverage

Fix A1 vocabularies: syntax, translations, examples, deduplication
  data/vocabularies/english-a1.json
  data/vocabularies/german-a1.json
  data/vocabularies/spanish-a1.json
Due: none

Harden .dockerignore with security best practices
  .dockerignore
  apps/frontend/.dockerignore
Due: none

Fix vocabulary sync crash: remove 6 duplicates, add dedup guard
  apps/backend/sync_vocabulary.py
  data/vocabularies/spanish-a1.json
  data/vocabularies/spanish-b1.json
Due: jscpd

Fix sync: delete stale DB records before upsert to avoid constraint violation
  apps/backend/sync_vocabulary.py
Due: jscpd

Fix pre-commit hooks: semgrep, npm-audit, deployment actions
  .github/actions/create-deployment/action.yml
  .github/actions/update-deployment-status/action.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  package-lock.json
  package.json
Due: sort-package-json, npm-audit, docker-build-all

Disable Docker provenance to prevent GHCR manifest GC errors
  .github/workflows/ci.yml
Due: none

chore: pin node:24 LTS and nginx:1.28 stable
  Dockerfile
Due: docker-build-all

chore: add .treemapper, .mise.toml, and temp screenshots to .gitignore
  .gitignore
Due: none

fix: add --max-width-* to prevent spacing collision in TW4
  apps/frontend/src/index.css
Due: stylelint

chore: Remove shift-commit-time hook, fix pyjwt CVE GHSA-752w-5fwx-jx9f
  .pre-commit-config.yaml
Due: none

fix: add continue-on-error to Trivy scan step
  .github/workflows/ci.yml
Due: none

fix: add role=button and use adminPanel key for E2E test compatibility
  apps/frontend/src/shared/components/AppNav.tsx
Due: eslint, jscpd, knip, typescript-check, type-coverage

Fix admin dialog selector: use dialog[open] instead of .fixed.inset-0
  tests/e2e/pages/admin_page.py
Due: jscpd
