Repository nikolay-e/lingua-quiz-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: ESLint
  entry: npm run lint
  language: system
  pass_filenames: false
  require_serial: true

prettier:
  name: Prettier
  entry: npm run format
  language: system
  pass_filenames: false
  require_serial: true

Remove hardcoded path from pre-commit prettier config
  .pre-commit-config.yaml
  packages/backend/requirements.txt
Due: prettier

Move PostgreSQL to shared namespace for multi-project reuse
  .github/workflows/ci-cd.yml
  helm/lingua-quiz-app/templates/backend-deployment.yaml
  helm/lingua-quiz-app/templates/migration-job.yaml
  helm/lingua-quiz-app/templates/secrets.yaml
  helm/lingua-quiz-app/values.yaml
  helm/shared-postgres/Chart.yaml
  helm/shared-postgres/templates/_helpers.tpl
  helm/shared-postgres/templates/backup-cronjob.yaml
  helm/shared-postgres/templates/configmap.yaml
  helm/shared-postgres/templates/namespace.yaml
  helm/shared-postgres/templates/secrets.yaml
  helm/shared-postgres/templates/service.yaml
  helm/shared-postgres/templates/statefulset.yaml
  helm/shared-postgres/values.yaml
Due: prettier

fix: remove package version pinning from Alpine packages
  packages/backend/Dockerfile
Due: none

fix: resolve Helm namespace ownership and Alpine package issues
  .github/workflows/ci-cd.yml
Due: prettier

feat: let Helm manage lingua-quiz-app namespace creation
  .github/workflows/ci-cd.yml
  helm/lingua-quiz-app/templates/namespace.yaml
Due: prettier

fix: add Helm hooks to ensure namespace creation before other resources
  .github/workflows/ci-cd.yml
  helm/lingua-quiz-app/templates/namespace.yaml
  helm/shared-postgres/templates/namespace.yaml
Due: prettier

fix: create namespaces manually with proper Helm metadata
  .github/workflows/ci-cd.yml
  helm/lingua-quiz-app/templates/namespace.yaml
  helm/shared-postgres/templates/namespace.yaml
Due: prettier

fix: use proper admin/prod/staging password secrets
  .github/workflows/ci-cd.yml
Due: prettier

feat: implement shared PostgreSQL infrastructure for multi-project reuse (#180)
  .github/workflows/ci-cd.yml
  helm/lingua-quiz-app/templates/backend-deployment.yaml
  helm/lingua-quiz-app/templates/migration-job.yaml
  helm/lingua-quiz-app/templates/secrets.yaml
  helm/lingua-quiz-app/values.yaml
  helm/shared-postgres/Chart.yaml
  helm/shared-postgres/templates/_helpers.tpl
  helm/shared-postgres/templates/backup-cronjob.yaml
  helm/shared-postgres/templates/configmap.yaml
  helm/shared-postgres/templates/secrets.yaml
  helm/shared-postgres/templates/service.yaml
  helm/shared-postgres/templates/statefulset.yaml
  helm/shared-postgres/values.yaml
Due: prettier

List of words for English B1 extended level based on the american Oxford 3000 words list
  packages/backend/migrations/905_english_russian_b1_words.sql
Due: none

List of words for English B1 extended level based on the american Oxford 3000 words list (#182)
  packages/backend/migrations/905_english_russian_b1_words.sql
Due: none

Use indexes started with 5000xxxx, change a naming
  packages/backend/migrations/904_english_russian_a2.sql
  packages/backend/migrations/904_english_russian_a2_words.sql
Due: none

List of words for English A2 extended level based on the american Oxford 3000 words list
  packages/backend/migrations/904_english_russian_a2.sql
Due: none

Update indexes
  packages/backend/migrations/904_english_russian_a2_words.sql
Due: none

Reduce migration job resource requirements to fix scheduling issues
  .github/workflows/ci-cd.yml
  helm/lingua-quiz-app/templates/migration-job.yaml
  helm/lingua-quiz-app/values.yaml
Due: prettier

[English] Level A2 list (#181)
  packages/backend/migrations/904_english_russian_a2_words.sql
Due: none

Improving word processing scripts
  word_processing_scripts/ANALYSIS_RESULT.txt
  word_processing_scripts/base_analyzer.py
  word_processing_scripts/combined_migration_and_word_analyzer.py
  word_processing_scripts/config.yaml
  word_processing_scripts/english_analyzer.py
  word_processing_scripts/german_analyzer.py
  word_processing_scripts/main.py
  word_processing_scripts/migration_utils.py
  word_processing_scripts/requirements.txt
  word_processing_scripts/spanish_analyzer.py
  word_processing_scripts/validate_migrations.py
  word_processing_scripts/vocab_tools/__init__.py
  word_processing_scripts/vocab_tools/cli/__init__.py
  word_processing_scripts/vocab_tools/cli/main.py
  word_processing_scripts/vocab_tools/config/__init__.py
  word_processing_scripts/vocab_tools/config/constants.py
  word_processing_scripts/vocab_tools/core/__init__.py
  word_processing_scripts/vocab_tools/core/database_parser.py
  word_processing_scripts/vocab_tools/core/nlp_models.py
  word_processing_scripts/vocab_tools/core/vocabulary_analyzer.py
  word_processing_scripts/vocab_tools/core/word_normalizer.py
  word_processing_scripts/vocab_tools/languages/__init__.py
  word_processing_scripts/vocab_tools/languages/english_vocab.py
  word_processing_scripts/vocab_tools/languages/german_vocab.py
  word_processing_scripts/vocab_tools/languages/spanish_vocab.py
  word_processing_scripts/vocab_tools/storage/__init__.py
  word_processing_scripts/vocab_tools/storage/results_tracker.py
  word_processing_scripts/vocab_tools/validation/__init__.py
  word_processing_scripts/vocab_tools/validation/migration_validator.py
Due: prettier

fix comparision logic
  .github/workflows/ci-cd.yml
  packages/core/src/answer-comparison.ts
  packages/core/src/index.ts
  packages/core/tests/answer-comparison.test.ts
  packages/core/tests/core-functionality.test.ts
  packages/core/tests/quiz-manager.test.ts
  packages/frontend/src/stores.ts
  packages/frontend/src/views/Quiz.svelte
Due: eslint, prettier

fix comparision logic (#184)
  .github/workflows/ci-cd.yml
  packages/core/src/answer-comparison.ts
  packages/core/src/index.ts
  packages/core/tests/answer-comparison.test.ts
  packages/core/tests/core-functionality.test.ts
  packages/core/tests/quiz-manager.test.ts
  packages/frontend/src/stores.ts
  packages/frontend/src/views/Quiz.svelte
Due: eslint, prettier

fix: keep feedback visible when advancing to next question
  packages/frontend/src/views/Quiz.svelte
Due: none

fix: remove duplicate emojis from feedback messages
  packages/frontend/src/views/Quiz.svelte
Due: none

Fix feedback disappearing and duplicate emojis (#185)
  packages/frontend/src/views/Quiz.svelte
Due: none

fix: rename E2E test to fix numbering sequence (005 -> 004)
  packages/e2e-tests/tests/004-quiz-automatic-progression.spec.ts
Due: eslint, prettier

cleanup: remove old E2E test file after renaming
  packages/e2e-tests/tests/005-quiz-automatic-progression.spec.ts
Due: eslint, prettier

fix: update Dockerfile paths for new src/ structure
  packages/backend/Dockerfile
Due: none

Add Progressive Web App (PWA) functionality
  packages/frontend/index.html
  packages/frontend/public/favicon/site.webmanifest
  packages/frontend/public/sw.js
Due: eslint, prettier

Fix ESLint errors in service worker
  packages/frontend/public/sw.js
Due: eslint, prettier

feat: recover and integrate word processing tools as CI validation
  .github/workflows/ci-cd.yml
  packages/word-processing/config.yaml
  packages/word-processing/main.py
  packages/word-processing/package.json
  packages/word-processing/requirements.txt
  packages/word-processing/vocab_tools/__init__.py
  packages/word-processing/vocab_tools/cli/__init__.py
  packages/word-processing/vocab_tools/cli/main.py
  packages/word-processing/vocab_tools/config/__init__.py
  packages/word-processing/vocab_tools/config/constants.py
  packages/word-processing/vocab_tools/core/__init__.py
  packages/word-processing/vocab_tools/core/database_parser.py
  packages/word-processing/vocab_tools/core/nlp_models.py
  packages/word-processing/vocab_tools/core/vocabulary_analyzer.py
  packages/word-processing/vocab_tools/core/word_normalizer.py
  packages/word-processing/vocab_tools/languages/__init__.py
  packages/word-processing/vocab_tools/languages/english_vocab.py
  packages/word-processing/vocab_tools/languages/german_vocab.py
  packages/word-processing/vocab_tools/languages/spanish_vocab.py
  packages/word-processing/vocab_tools/storage/__init__.py
  packages/word-processing/vocab_tools/storage/results_tracker.py
  packages/word-processing/vocab_tools/validation/__init__.py
  packages/word-processing/vocab_tools/validation/migration_validator.py
Due: prettier

Add Progressive Web App (PWA) functionality (#166)
  packages/frontend/index.html
  packages/frontend/public/favicon/site.webmanifest
  packages/frontend/public/sw.js
Due: eslint, prettier

Fix Claude Code Action workflow configuration
  .github/workflows/ci-cd.yml
Due: prettier

Add comment to trigger new workflow run
  .github/workflows/ci-cd.yml
Due: prettier

Regenerate package-lock.json to fix dependency sync
  package-lock.json
Due: prettier

Clean regenerate package-lock.json to fix stale references
  package-lock.json
Due: prettier

fix: resolve CI failures by syncing package-lock.json and updating build config
  .gitignore
  eslint.config.js
  package-lock.json
  package.json
  packages/backend/src/main.py
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/tsconfig.json
  packages/e2e-tests/package.json
  packages/e2e-tests/tests/002-quiz-initialization.spec.ts
  packages/e2e-tests/tests/004-quiz-automatic-progression.spec.ts
  packages/e2e-tests/tests/helpers.ts
  packages/e2e-tests/tsconfig.json
  packages/frontend/package.json
  packages/frontend/src/api.ts
  packages/frontend/src/stores.ts
  packages/frontend/src/views/Login.svelte
  packages/frontend/src/views/Quiz.svelte
  packages/frontend/src/views/Register.svelte
  packages/frontend/tsconfig.json
  packages/word-processing/package.json
Due: eslint, prettier

fix: resolve Docker build failure and improve quiz UX
  .github/workflows/ci-cd.yml
  .github/workflows/claude.yml
  .github/workflows/security-scans.yml
  package-lock.json
  packages/core/package.json
  packages/frontend/src/views/Quiz.svelte
Due: prettier

fix: resolve CI failures by syncing package-lock.json and updating build config (#188)
  .github/workflows/ci-cd.yml
  .github/workflows/claude.yml
  .github/workflows/security-scans.yml
  .gitignore
  eslint.config.js
  package-lock.json
  package.json
  packages/backend/src/main.py
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/tsconfig.json
  packages/e2e-tests/package.json
  packages/e2e-tests/tests/002-quiz-initialization.spec.ts
  packages/e2e-tests/tests/004-quiz-automatic-progression.spec.ts
  packages/e2e-tests/tests/helpers.ts
  packages/e2e-tests/tsconfig.json
  packages/frontend/package.json
  packages/frontend/src/api.ts
  packages/frontend/src/stores.ts
  packages/frontend/src/views/Login.svelte
  packages/frontend/src/views/Quiz.svelte
  packages/frontend/src/views/Register.svelte
  packages/frontend/tsconfig.json
  packages/word-processing/package.json
Due: eslint, prettier

feat: recover and integrate word processing tools as CI validation
  .gitignore
  packages/backend/migrations/data/901_german_russian_a1_words.sql
  packages/backend/migrations/data/902_spanish_russian_a1_words.sql
  packages/backend/migrations/data/903_english_russian_a1_words.sql
  packages/backend/migrations/data/904_english_russian_a2_words.sql
Due: none

fix: comprehensive word processing tool fixes
  .github/workflows/ci-cd.yml
  packages/word-processing/main.py
  packages/word-processing/vocab_tools/core/database_parser.py
  packages/word-processing/vocab_tools/core/vocabulary_analyzer.py
  packages/word-processing/vocab_tools/core/word_normalizer.py
  packages/word-processing/vocab_tools/validation/migration_validator.py
Due: prettier

Path conditions:
  eslint: any of: \.(js|ts|jsx|tsx)$
  prettier: any of: \.(js|ts|jsx|tsx|json|md|yml|yaml)$, but not: ^helm/
