Repository nikolay-e/lingua-quiz: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-package-json, eslint, jscpd, knip, typescript-check, svelte-check, type-coverage, npm-audit, docker-compose-check, docker-build-all, stylelint, helm-lint-changed

sort-package-json:
  name: Sort package.json files
  entry: npx sort-package-json "package.json" "packages/*/package.json"
  language: system
  pass_filenames: false

eslint:
  name: Lint JS/TS/Svelte with ESLint
  entry: bash -c 'export NODE_OPTIONS="--max-old-space-size=8192" && npm run lint:fix'
  language: system
  pass_filenames: false

jscpd:
  name: Copy-paste detection (jscpd)
  entry: npx jscpd --min-lines 6 --min-tokens 50 --threshold 3 packages/
  language: system
  pass_filenames: false

knip:
  name: Dead code detection (knip)
  entry: npx knip --no-progress --no-config-hints
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript type checking
  entry: npm run typecheck
  language: system
  pass_filenames: false

svelte-check:
  name: Svelte type checking
  entry: npm run check
  language: system
  pass_filenames: false

type-coverage:
  name: Type coverage check (>=85%)
  entry: npx type-coverage --at-least 85 --ignore-catch --ignore-files "**/*.test.ts" "**/*.spec.ts" "**/generated/**"
  language: system
  pass_filenames: false

npm-audit:
  name: npm audit (security check)
  entry: npm audit --audit-level=high --production
  language: system
  pass_filenames: false

docker-compose-check:
  name: Docker Compose config validation
  entry: bash -c 'for f in docker-compose*.yml docker-compose*.yaml; do [ -f "$f" ] && docker compose -f "$f" config -q || true; done'
  language: system
  pass_filenames: false

docker-build-all:
  name: Build Docker images (backend, frontend, tests)
  ...

stylelint:
  name: Lint CSS/SCSS in files and Svelte components
  entry: npx stylelint --fix --config .stylelintrc.json
  language: system
  pass_filenames: true

helm-lint-changed:
  name: Helm lint changed charts
  entry: bash -c
  args:
  ...

Add definite articles to German nouns and fix usage examples
  data/vocabularies/german-a0.json
  data/vocabularies/german-a1.json
  data/vocabularies/german-a2.json
Due: none

Improve naturalness of German A0/A1/A2 usage examples
  data/vocabularies/german-a0.json
  data/vocabularies/german-a1.json
  data/vocabularies/german-a2.json
Due: none

Add PDF download for vocabulary lists
  apps/frontend/package.json
  apps/frontend/src/features/quiz/services/pdf-service.ts
  apps/frontend/src/pages/HomePage.tsx
  apps/frontend/src/shared/i18n/locales/de.json
  apps/frontend/src/shared/i18n/locales/en.json
  apps/frontend/src/shared/i18n/locales/es.json
  apps/frontend/src/shared/i18n/locales/ru.json
  package-lock.json
Due: eslint, jscpd, knip, typescript-check, type-coverage, npm-audit, docker-build-all

Fix: use dynamic imports for jspdf to prevent app crash
  apps/frontend/src/features/quiz/services/pdf-service.ts
Due: eslint, jscpd, knip, typescript-check, type-coverage

Add E2E tests for PDF download and app stability
  tests/e2e/test_pdf_download_e2e.py
Due: jscpd

Remove duplicate course selector from home page
  apps/frontend/src/pages/HomePage.tsx
  tests/e2e/conftest.py
  tests/e2e/pages/quiz_page.py
  tests/e2e/test_pdf_download_e2e.py
Due: eslint, jscpd, knip, typescript-check, type-coverage

Fix PDF download on mobile: serve font locally to avoid CSP block
  apps/frontend/public/fonts/Roboto-Regular.ttf
  apps/frontend/src/features/quiz/services/pdf-service.ts
  apps/frontend/vite.config.ts
  infra/nginx/nginx.conf
  infra/nginx/nginx.local.conf
  tests/e2e/test_pdf_download_e2e.py
Due: eslint, jscpd, knip, typescript-check, type-coverage

Fix PDF examples format: show target example in translation column
  apps/frontend/src/features/quiz/services/pdf-service.ts
Due: eslint, jscpd, knip, typescript-check, type-coverage

Fix German A1 vocabulary: correct errors, move B1-B2 words, sort by frequency
  data/vocabularies/german-a1.json
  data/vocabularies/german-b1.json
  data/vocabularies/german-b2.json
Due: none

Fix German A2 vocabulary: correct errors, lemmatize, move non-A2 words, sort by frequency
  data/vocabularies/german-a2.json
  data/vocabularies/german-b2.json
Due: none

Move PDF buttons to quiz page, sort vocabulary by frequency in API
  apps/backend/alembic-words/versions/003_add_rank_column.py
  apps/backend/src/api/v2/vocabulary.py
  apps/backend/sync_vocabulary.py
  apps/frontend/src/features/quiz/components/LanguageLevelSelector.tsx
  apps/frontend/src/features/quiz/components/QuizHeader.tsx
  apps/frontend/src/pages/HomePage.tsx
  apps/frontend/src/pages/QuizPage.tsx
  tests/e2e/test_pdf_download_e2e.py
Due: eslint, jscpd, knip, typescript-check, type-coverage

Simplify PDF download: single button, always include examples
  apps/frontend/src/features/quiz/components/LanguageLevelSelector.tsx
Due: eslint, jscpd, knip, typescript-check, type-coverage

Fix A0 vocabulary: update translations, move non-cognates to A1
  data/vocabularies/german-a0.json
  data/vocabularies/german-a1.json
Due: none

Fix A2 vocabulary: 65 fixes — translations, forms, moves, colloquial marks
  data/vocabularies/german-a2.json
  data/vocabularies/german-b1.json
  data/vocabularies/german-b2.json
Due: none

Fix A1 vocabulary: translations, inflected forms, moves, colloquial marks
  data/vocabularies/german-a1.json
  data/vocabularies/german-b1.json
  data/vocabularies/german-b2.json
Due: none

Move 49 transparent cognates to A0 from A1/A2
  data/vocabularies/german-a0.json
  data/vocabularies/german-a1.json
  data/vocabularies/german-a2.json
Due: none

Fix issues found during review: duplicates, A0 cognate quality
  data/vocabularies/german-a0.json
  data/vocabularies/german-a1.json
  data/vocabularies/german-a2.json
  data/vocabularies/german-b1.json
  data/vocabularies/german-b2.json
Due: none

Fix A2 review issues: inflected forms, plural translations, example mismatch
  data/vocabularies/german-a2.json
Due: none

Fix A1: die Art example now contains the actual word
  data/vocabularies/german-a1.json
Due: none

Fix E2E test: remove assertion for non-existent PDF Examples button
  apps/frontend/src/shared/i18n/locales/de.json
  apps/frontend/src/shared/i18n/locales/en.json
  apps/frontend/src/shared/i18n/locales/es.json
  apps/frontend/src/shared/i18n/locales/ru.json
  tests/e2e/test_pdf_download_e2e.py
Due: jscpd

fix: DB connection pool resilience, CI lint, E2E in CI
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  apps/backend/src/core/database.py
  apps/frontend/src/features/quiz/services/pdf-service.ts
  apps/frontend/src/pages/HomePage.tsx
  docker-compose.yml
  package-lock.json
  tests/e2e/pages/quiz_page.py
  tests/e2e/test_pdf_download_e2e.py
Due: eslint, jscpd, knip, typescript-check, type-coverage, npm-audit, docker-compose-check, docker-build-all

fix: review A0/A1/A2 vocabularies across all languages
  data/vocabularies/english-a0.json
  data/vocabularies/english-a1.json
  data/vocabularies/english-a2.json
  data/vocabularies/german-a0.json
  data/vocabularies/german-a1.json
  data/vocabularies/german-a2.json
  data/vocabularies/spanish-a0.json
  data/vocabularies/spanish-a1.json
  data/vocabularies/spanish-a2.json
Due: none

fix: E2E tests — remove HSTS/CSP upgrade in test env, add shm_size
  docker-compose.yml
  infra/nginx/nginx.test.conf
  tests/e2e/conftest.py
  tests/e2e/test_runner.py
Due: jscpd, docker-compose-check, docker-build-all

fix: E2E tests navigate to quiz page before expecting selectors
  tests/e2e/test_quiz_flow_e2e.py
Due: jscpd

fix: Schemathesis findings — empty UUID 500, NULL byte 500, 422 format
  .gitignore
  .pre-commit-config.yaml
  apps/backend/src/generated/schemas.py
  apps/backend/src/main.py
  schema/lingua-quiz-schema.json
Due: jscpd

fix: ZAP findings — security headers on error responses, CORP header
  apps/backend/src/main.py
Due: jscpd

fix: eliminate ZAP warnings, add frontend crawler
  apps/backend/src/core/error_handler.py
  apps/backend/src/main.py
  tools/frontend-crawler/crawl.js
  tools/frontend-crawler/package.json
Due: eslint, jscpd, knip

fix: a11y — button aria-label, color contrast, page headings
  apps/frontend/src/features/speak/components/AudioRecorder.tsx
  apps/frontend/src/index.css
  apps/frontend/src/pages/HomePage.tsx
  apps/frontend/src/pages/QuizPage.tsx
Due: eslint, jscpd, knip, typescript-check, type-coverage, stylelint

fix: a11y select aria-labels, nav active link contrast
  apps/frontend/src/features/quiz/components/LanguageLevelSelector.tsx
  apps/frontend/src/shared/components/AppNav.tsx
  apps/frontend/src/shared/ui/Select.tsx
Due: eslint, jscpd, knip, typescript-check, type-coverage

fix: a11y — settings select labels, nav contrast fix
  apps/frontend/src/pages/SettingsPage.tsx
  apps/frontend/src/shared/components/AppNav.tsx
Due: eslint, jscpd, knip, typescript-check, type-coverage

fix: resolve SonarQube blockers, criticals, and code smells
  .github/actions/create-deployment/action.yml
  apps/backend/alembic/versions/bee616b9c42f_initial_schema.py
  apps/backend/src/api/v2/speech.py
  apps/backend/src/core/logging.py
  apps/backend/src/main.py
  apps/frontend/src/features/quiz/components/LanguageLevelSelector.tsx
  apps/frontend/src/features/quiz/components/LevelChangeAnimation.tsx
  apps/frontend/src/features/quiz/components/PronunciationMode.tsx
  apps/frontend/src/features/quiz/components/QuestionDisplay.tsx
  apps/frontend/src/features/quiz/components/QuizHeader.tsx
  apps/frontend/src/features/quiz/hooks/useLanguageLevelSelection.ts
  apps/frontend/src/features/quiz/services/pdf-service.ts
  apps/frontend/src/features/quiz/services/quiz-service.ts
  apps/frontend/src/features/speak/components/AudioRecorder.tsx
  apps/frontend/src/features/speak/components/WordPhonemeDisplay.tsx
  apps/frontend/src/pages/HomePage.tsx
  apps/frontend/src/pages/LoginPage.tsx
  apps/frontend/src/pages/QuizPage.tsx
  apps/frontend/src/pages/RegisterPage.tsx
  apps/frontend/src/pages/RootLayout.tsx
  apps/frontend/src/pages/SettingsPage.tsx
  apps/frontend/src/pages/admin/AdminCreateDialog.tsx
  apps/frontend/src/pages/admin/AdminDeleteDialog.tsx
  apps/frontend/src/pages/admin/AdminEditDialog.tsx
  apps/frontend/src/pages/admin/AdminSearchBar.tsx
  apps/frontend/src/shared/i18n/index.ts
  apps/frontend/src/shared/ui/Select.tsx
  tests/e2e/pages/admin_page.py
  tests/e2e/test_runner.py
  tools/frontend-crawler/crawl.js
  tools/frontend-crawler/package-lock.json
  tools/vocab-tools/vocab_tools/cli/interactive_mode.py
Due: eslint, jscpd, knip, typescript-check, type-coverage

fix: Spanish vocab — lemmas, polysemy, priorities, level redistribution
  data/vocabularies/spanish-a0.json
  data/vocabularies/spanish-a1.json
  data/vocabularies/spanish-a2.json
Due: none

fix: csrf middleware noise, tts overload, a11y, sonar issues
  apps/backend/src/main.py
  apps/frontend/src/features/quiz/hooks/useQuizSession.ts
  apps/frontend/src/pages/SettingsPage.tsx
  docker-compose.yml
  tests/e2e/test_runner.py
  tools/frontend-crawler/crawl.js
  tools/vocab-tools/vocab_tools/cli/interactive_mode.py
Due: eslint, jscpd, knip, typescript-check, type-coverage, docker-compose-check, docker-build-all

build: add npm and pip cache mounts to Dockerfile
  Dockerfile
Due: docker-build-all

fix: mobile keyboard, partial match feedback, no-repeat, damage vocab
  apps/frontend/src/features/quiz/components/FeedbackDisplay.tsx
  apps/frontend/src/features/quiz/hooks/useQuizSession.ts
  apps/frontend/src/index.css
  apps/frontend/src/shared/i18n/locales/de.json
  apps/frontend/src/shared/i18n/locales/en.json
  apps/frontend/src/shared/i18n/locales/es.json
  apps/frontend/src/shared/i18n/locales/ru.json
  data/vocabularies/english-a2.json
  packages/core/src/LevelEngine.ts
  packages/core/src/QueueManager.ts
  packages/core/src/answer-comparison.ts
  packages/core/src/index.ts
  packages/core/tests/answer-comparison.test.ts
Due: eslint, jscpd, knip, typescript-check, type-coverage, docker-build-all, stylelint

fix: accept any valid translation for multi-meaning words
  apps/frontend/src/features/quiz/components/FeedbackDisplay.tsx
  apps/frontend/src/features/quiz/hooks/useQuizSession.ts
  apps/frontend/src/index.css
  apps/frontend/src/shared/i18n/locales/de.json
  apps/frontend/src/shared/i18n/locales/en.json
  apps/frontend/src/shared/i18n/locales/es.json
  apps/frontend/src/shared/i18n/locales/ru.json
  packages/core/src/answer-comparison.ts
  packages/core/src/index.ts
  packages/core/tests/answer-comparison.test.ts
Due: eslint, jscpd, knip, typescript-check, type-coverage, docker-build-all, stylelint

Path conditions:
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json)$
  eslint: any of: \.(js|jsx|ts|tsx|svelte)$
  jscpd: any of: \.(js|jsx|ts|tsx|svelte|py)$
  knip: any of: \.(js|jsx|ts|tsx|svelte)$
  typescript-check: any of: \.(ts|tsx|svelte)$
  svelte-check: any of: \.(svelte)$
  type-coverage: any of: \.(ts|tsx)$, but not: /generated/
  npm-audit: any of: ^package(-lock)?\.json$
  docker-compose-check: any of: ^docker-compose.*\.(yml|yaml)$
  docker-build-all: any of: ^(Dockerfile|docker-compose.*\.(yml|yaml)|packages/(backend|frontend|core|domain|tests)/.*|lingua-quiz-schema\.json|nginx\.conf|package(-lock)?\.json)$
  stylelint: any of: \.(css|scss|svelte)$
  helm-lint-changed: any of: ^helm/
