Repository nikolay-e/lingua-quiz: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-package-json, eslint, jscpd, knip, typescript-check, svelte-check, type-coverage, npm-audit, docker-compose-check, docker-build-all, stylelint, helm-lint-changed

Path conditions:
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json)$
  eslint: any of: \.(js|jsx|ts|tsx|svelte)$
  jscpd: any of: \.(js|jsx|ts|tsx|svelte|py)$
  knip: any of: \.(js|jsx|ts|tsx|svelte)$
  typescript-check: any of: \.(ts|tsx|svelte)$
  svelte-check: any of: \.(svelte)$
  type-coverage: any of: \.(ts|tsx)$, but not: /generated/
  npm-audit: any of: ^package(-lock)?\.json$
  docker-compose-check: any of: ^docker-compose.*\.(yml|yaml)$
  docker-build-all: any of: ^(Dockerfile|docker-compose.*\.(yml|yaml)|packages/(backend|frontend|core|domain|tests)/.*|lingua-quiz-schema\.json|nginx\.conf|package(-lock)?\.json)$
  stylelint: any of: \.(css|scss|svelte)$
  helm-lint-changed: any of: ^helm/

fix: packages/tools/requirements.txt to reduce vulnerabilities
  packages/tools/requirements.txt
Due: none

fix: packages/tools/requirements.txt to reduce vulnerabilities (#338)
  packages/tools/requirements.txt
Due: none

fix: packages/tools/requirements.txt to reduce vulnerabilities (#339)
  packages/tools/requirements.txt
Due: none

fix(frontend): guard layout render until i18n is ready
  packages/frontend/src/routes/+layout.svelte
Due: eslint, jscpd, knip, typescript-check, svelte-check, docker-build-all, stylelint

feat(frontend): improve welcome screen with icons and reduced spacing
  packages/frontend/src/app.css
  packages/frontend/src/components/quiz/QuizWelcome.svelte
  packages/frontend/src/routes/+layout.svelte
  packages/tests/tests/conftest.py
  packages/tests/tests/test_accessibility_e2e.py
  packages/tests/tests/test_mobile_responsive_e2e.py
  packages/tests/tests/test_playwright_e2e.py
  packages/tests/tests/test_quiz_flow_e2e.py
  packages/tests/tests/test_security_e2e.py
  packages/tests/tests/test_tts_feature_e2e.py
Due: eslint, jscpd, knip, typescript-check, svelte-check, docker-build-all, stylelint

fix(frontend): use unique keys in #each to prevent runtime crash
  eslint.config.js
  packages/frontend/src/components/quiz/LearningProgress.svelte
Due: eslint, jscpd, knip, typescript-check, svelte-check, docker-build-all, stylelint

chore: enhance .dockerignore for Docker security
  .dockerignore
  packages/tools/config.yaml
  packages/tools/vocab_tools/cli/commands/generate_all.py
  packages/tools/vocab_tools/config/models.py
  packages/tools/vocab_tools/core/language_plugins.py
  packages/tools/vocab_tools/core/lemmatization_service.py
  packages/tools/vocab_tools/core/processing_stages.py
  packages/tools/vocab_tools/core/stanza_lemmatizer.py
  packages/tools/vocab_tools/core/vocabulary_processor.py
Due: jscpd

security: add client IP to failed auth logs for Loki
  packages/backend/src/api/v2/auth.py
Due: jscpd, docker-build-all

feat: add difficultyLevel to VocabularyItemResponse
  lingua-quiz-schema.json
  packages/backend/alembic-words/versions/002_fill_difficulty_levels.py
  packages/backend/src/api/v2/vocabulary.py
  packages/backend/src/generated/schemas.py
  packages/domain/src/generated/domain.ts
  packages/frontend/src/generated/api/models/VocabularyItemResponse.ts
Due: eslint, jscpd, knip, typescript-check, docker-build-all

security: fix timing attack, add password complexity, CSP headers
  packages/backend/src/api/v2/auth.py
  packages/backend/src/main.py
Due: jscpd, docker-build-all

fix: add difficultyLevel to translationData mapping
  packages/frontend/src/lib/services/QuizService.ts
Due: eslint, jscpd, knip, typescript-check, type-coverage, docker-build-all

refactor: update vocab-tools with config-driven settings
  .pre-commit-config.yaml
  packages/tools/config.yaml
  packages/tools/vocab_tools/cli/commands/compare.py
  packages/tools/vocab_tools/cli/commands/export.py
  packages/tools/vocab_tools/cli/commands/generate.py
  packages/tools/vocab_tools/cli/commands/generate_all.py
  packages/tools/vocab_tools/cli/commands/validate.py
  packages/tools/vocab_tools/config/config_loader.py
  packages/tools/vocab_tools/config/models.py
  packages/tools/vocab_tools/core/language_plugins.py
  packages/tools/vocab_tools/core/nlp_models.py
  packages/tools/vocab_tools/core/processing_pipeline.py
  packages/tools/vocab_tools/core/processing_stages.py
  packages/tools/vocab_tools/core/stanza_lemmatizer.py
  packages/tools/vocab_tools/core/vocabulary_processor.py
  packages/tools/vocab_tools/core/word_validator.py
  packages/tools/vocab_tools/exporters/vocabulary_exporter.py
Due: jscpd

fix: update E2E tests and add difficultyLevel to validator
  packages/domain/src/validators.ts
  packages/frontend/src/components/quiz/FeedbackDisplay.svelte
  packages/frontend/src/components/quiz/LearningProgress.svelte
  packages/frontend/src/components/quiz/QuestionDisplay.svelte
  packages/frontend/src/components/quiz/QuizHeader.svelte
  packages/frontend/src/stores/quizStore.ts
  packages/tests/tests/conftest.py
  packages/tests/tests/test_accessibility_e2e.py
  packages/tests/tests/test_backend_integration.py
  packages/tests/tests/test_playwright_e2e.py
  packages/tests/tests/test_quiz_flow_e2e.py
  packages/tests/tests/test_security_e2e.py
  packages/tests/tests/test_tts_feature_e2e.py
  packages/tools/config.yaml
Due: eslint, jscpd, knip, typescript-check, svelte-check, type-coverage, docker-build-all, stylelint

fix: update workflow URLs to lingua-quiz.org domain
  .github/workflows/README.md
  .github/workflows/ci.yml
  .github/workflows/deploy-production-simple.yml
  .github/workflows/preview-deploy.yml
  .github/workflows/preview-health-check.yml
  .github/workflows/staging-health-check.yml
Due: none

fix: add Google Fonts to CSP policy in backend
  packages/backend/src/main.py
Due: jscpd, docker-build-all

fix: Separate cache rules for mutable vs immutable SvelteKit assets
  nginx.conf
Due: docker-build-all

chore: remove preview environment infrastructure
  .github/actions/cleanup-deployment/action.yml
  .github/actions/create-deployment/action.yml
  .github/actions/update-deployment-status/action.yml
  .github/workflows/README.md
  .github/workflows/preview-cleanup.yml
  .github/workflows/preview-deploy.yml
  .github/workflows/preview-gc.yml
  .github/workflows/preview-health-check.yml
  packages/frontend/src/components/EnvironmentInfo.svelte
Due: eslint, jscpd, knip, typescript-check, svelte-check, docker-build-all, stylelint

feat(tools): add Keychain support for DB credentials
  CLAUDE.md
  packages/tools/vocab_tools/cli/commands/export.py
  packages/tools/vocab_tools/cli/commands/import_cmd.py
  packages/tools/vocab_tools/core/db_client.py
  packages/tools/vocab_tools/core/keychain.py
Due: jscpd

fix: add unsafe-eval to CSP for Ajv JSON schema validation
  packages/backend/src/main.py
Due: jscpd, docker-build-all

fix: packages/backend/requirements.txt to reduce vulnerabilities
  packages/backend/requirements.txt
Due: docker-build-all

security: run containers as non-root with numeric UIDs
  Dockerfile
Due: docker-build-all

feat(vocab-tools): restructure package for pipx install
  .pre-commit-config.yaml
  .treemapperignore
  packages/frontend/src/api.ts
  packages/frontend/src/lib/i18n/index.ts
  packages/tools/exported_vocabularies/english-a1.json
  packages/tools/exported_vocabularies/english-b1.json
  packages/tools/pyproject.toml
  packages/tools/vocab_tools/analysis/level_coverage_analyzer.py
  packages/tools/vocab_tools/cli/commands/import_cmd.py
  packages/tools/vocab_tools/cli/commands/sync.py
  packages/tools/vocab_tools/config/config.yaml
  packages/tools/vocab_tools/config/config_loader.py
  packages/tools/vocab_tools/config/constants.py
  packages/tools/vocab_tools/config/models.py
  packages/tools/vocab_tools/core/api_client.py
  packages/tools/vocab_tools/core/db_client.py
  packages/tools/vocab_tools/core/exceptions.py
  packages/tools/vocab_tools/core/lemmatization_service.py
  packages/tools/vocab_tools/core/repository.py
  packages/tools/vocab_tools/core/vocabulary_processor.py
  packages/tools/vocab_tools/core/word_source.py
  packages/tools/vocab_tools/data/__init__.py
  packages/tools/vocab_tools/data/reference/cefr/A1_SD1_Wortliste_02.pdf
  packages/tools/vocab_tools/data/reference/cefr/A1_word_list.csv
  packages/tools/vocab_tools/data/reference/cefr/A2 (pages 8-32).pdf
  packages/tools/vocab_tools/data/reference/cefr/B1 (page 16-104 filtered from A2 words).pdf
  packages/tools/vocab_tools/data/reference/cefr/Intro (from B1 pages 1-15).pdf
  packages/tools/vocab_tools/data/reference/cefr/es_a1_a2_cervantes.txt
  packages/tools/vocab_tools/data/subtitle_frequencies
  packages/tools/vocab_tools/data/subtitle_frequencies/__init__.py
  packages/tools/vocab_tools/data/subtitle_frequencies/de_50k.txt
  packages/tools/vocab_tools/data/subtitle_frequencies/en_50k.txt
  packages/tools/vocab_tools/data/subtitle_frequencies/es_50k.txt
  packages/tools/vocab_tools/data/subtitle_frequencies/ru_50k.txt
  packages/tools/vocab_tools/validation/migration_validator.py
Due: eslint, jscpd, knip, typescript-check, type-coverage, docker-build-all

fix(vocab): clean EN A1 vocabulary - remove junk, move cognates to A0
  Dockerfile
  packages/tools/exported_vocabularies/english-a0.json
  packages/tools/exported_vocabularies/english-a1.json
  packages/tools/exported_vocabularies/english-a2.json
  packages/tools/exported_vocabularies/english-b1.json
  packages/tools/exported_vocabularies/english-b2.json
  packages/tools/exported_vocabularies/german-a0.json
  packages/tools/exported_vocabularies/german-a1.json
  packages/tools/exported_vocabularies/german-a2.json
  packages/tools/exported_vocabularies/german-b1.json
  packages/tools/exported_vocabularies/german-b2.json
  packages/tools/exported_vocabularies/spanish-a0.json
  packages/tools/exported_vocabularies/spanish-a1.json
  packages/tools/exported_vocabularies/spanish-a2.json
  packages/tools/exported_vocabularies/spanish-b1.json
  packages/tools/exported_vocabularies/spanish-b2.json
  packages/tools/exported_vocabularies/spanish-c1.json
  packages/tools/exported_vocabularies/spanish-c2.json
  packages/tools/exported_vocabularies/spanish-d.json
  packages/tools/smart_import.py
  packages/tools/vocab_tools/config/config.yaml
  packages/tools/vocab_tools/core/processing_stages.py
  packages/tools/vocab_tools/core/word_source.py
Due: jscpd, docker-build-all

feat: adding speakscore
  package-lock.json
  packages/frontend/src/app/App.tsx
  packages/frontend/src/features/speak/components/AudioRecorder.tsx
  packages/frontend/src/features/speak/components/ScoreCard.tsx
  packages/frontend/src/features/speak/components/WaveformDisplay.tsx
  packages/frontend/src/features/speak/hooks/useAudioRecorder.ts
  packages/frontend/src/features/speak/index.ts
  packages/frontend/src/features/speak/lib/colors.ts
  packages/frontend/src/features/speak/lib/constants.ts
  packages/frontend/src/features/speak/lib/feedback.ts
  packages/frontend/src/features/speak/pages/SpeakPage.tsx
  packages/frontend/src/features/speak/services/azure-speech.ts
  packages/frontend/src/features/speak/stores/speak.store.ts
  packages/frontend/src/features/speak/types/index.ts
  packages/frontend/src/pages/HomePage.tsx
  packages/frontend/src/pages/SettingsPage.tsx
  packages/frontend/src/pages/index.ts
Due: eslint, jscpd, knip, typescript-check, type-coverage, npm-audit, docker-build-all

Fix CI: remove Svelte references, build core before typecheck
  .pre-commit-config.yaml
Due: none

Fix nginx: use full config with proper pid path for non-root
  Dockerfile
  nginx.conf
Due: docker-build-all

Remove Svelte from ESLint config and dependencies
  eslint.config.js
  package.json
Due: sort-package-json, eslint, jscpd, knip, npm-audit, docker-build-all

Remove all Svelte references, update to React
  .jscpd.json
  .pre-commit-config.yaml
  .stylelintrc.json
  CLAUDE.md
  package-lock.json
  packages/frontend/src/index.css
  packages/frontend/tsconfig.config.json
  packages/tests/tests/test_frontend_e2e.py
Due: jscpd, npm-audit, docker-build-all, stylelint

Fix Tailwind v4 import and improve UI component styling
  packages/frontend/src/index.css
  packages/frontend/src/shared/components/PasswordInput.tsx
  packages/frontend/src/shared/ui/Button.tsx
  packages/frontend/src/shared/ui/Input.tsx
Due: eslint, jscpd, knip, typescript-check, type-coverage, docker-build-all, stylelint

Fix CSS cascade layers and add nginx API proxy for Docker
  .gitignore
  nginx.conf
  packages/frontend/src/index.css
Due: docker-build-all, stylelint

Replace inline styles with Tailwind classes in ErrorBoundary
  packages/frontend/src/app/infra/ErrorBoundary.tsx
Due: eslint, jscpd, knip, typescript-check, type-coverage, docker-build-all

Fix nginx backend proxy for Kubernetes with envsubst
  Dockerfile
  nginx.conf
Due: docker-build-all

Fix CSP: add fonts to connect-src for service worker
  nginx.conf
Due: docker-build-all

Revert nginx envsubst changes - keep hardcoded backend
  Dockerfile
  nginx.conf
Due: docker-build-all

Refactor Button and Select to use Radix UI with CVA
  package-lock.json
  packages/frontend/package.json
  packages/frontend/src/shared/ui/Button.tsx
  packages/frontend/src/shared/ui/Select.tsx
Due: sort-package-json, eslint, jscpd, knip, typescript-check, type-coverage, npm-audit, docker-build-all
